<mat-toolbar color="primary">
	<div class="left"></div>

	<button mat-button routerLink="" id="store-name-button">
		Toy Shop
	</button>

	<div class="right">
		<button mat-icon-button (click)="toggleThemeMode()" [matTooltip]="themeDetails().helpText">
			<mat-icon>{{themeDetails().icon}}</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="cartMenu" #cartMenuTrigger>
			<mat-icon [matBadge]="cart.totalQuantity" matBadgeColor="accent">
				shopping_cart
			</mat-icon>
		</button>
	</div>
</mat-toolbar>

<mat-menu #cartMenu="matMenu">
	<app-cart [summary]="true"></app-cart>
</mat-menu>
