<mat-list role="list">
	@for(item of cart.itemsInCart(); track item.product) {
	<mat-list-item role="listitem">
		<span matListItemTitle>{{ item.product.name }}</span>
		<span matListItemLine>
			<strong>Price: </strong>
			£{{ item.product.price }} x {{ item.quantity }} = £{{ item.totalPrice }}
		</span>
	</mat-list-item>
	}

	<mat-list-item role="listitem">
		<p>Shipping: {{ cart.deliveryFee() ? '£' + cart.deliveryFee() : 'Free' }}</p>
	</mat-list-item>

	<mat-list-item role="listitem">
		<p><strong>Total: </strong>£{{ cart.total() }}</p>
	</mat-list-item>
</mat-list>

<button mat-raised-button color="primary" routerLink="cart">Go to cart</button>
