:host {
	display: block;
	padding: 1rem;
}

.total {
	font-size: 1.2em;
}

header {
	display: flex;
	justify-content: space-between;
}

.empty-cart {
	display: flex;
	justify-content: center;
}